.project {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project .project-container {
  margin-top: 1rem;
}

.project .project-container .row {
  margin-bottom: 0;
}

.project img {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
}

.project ul li {
  display: inline-block;
  margin-right: 1rem;
}

.project strong {
  font-weight: 600;
}
